

body {
    background-color: #f8f9fa;
  }
  
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    width: 400px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    width: 100%;
  }
  
  
  @media (max-width: 576px) {
    .card {
      width: 100%;
    }
  }
  